*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
    height: 5rem;
}

 li{
    width: auto;
    margin: 1rem 2rem 1rem 1rem;
}